@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --gradient: #00416a;
        --background: 216 100% 98.42%;
        --foreground: 216 10% 0.84%;

        --muted: 216 10% 92.1%;
        --muted-foreground: 216 5% 42.1%;

        --popover: 0 0% 100%;
        --popover-foreground: 20 14.3% 4.1%;

        --card: 216 10% 92.1%;
        --card-foreground: 216 10% 1.05%;

        --border: 216 15% 89.84%;
        --input: 216 15% 89.84%;

        --primary: 216 100% 21%;
        --primary-foreground: 216 2% 92.1%;

        --secondary: 216 5% 96.05%;
        --secondary-foreground: 216 7% 12.1%;

        --accent: 216 5% 96.05%;
        --accent-foreground: 216 7% 12.1%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --ring: 216 100% 21%;

        --radius: 0.5rem;

        --rose: 350, 100%, 93%;
        --rose-foreground: 24 9.8% 10%;
        --green: 160, 25%, 90%;
        --green-foreground: 24 9.8% 10%;
        --lavender: 240, 67%, 94%;
        --lavender-foreground: 24 9.8% 10%;
        --light_grey: 210, 9%, 89%;
        --light_grey-foreground: 24 9.8% 10%;
        --grey: 0, 0%, 30%;
        --grey-foreground: 24 9.8% 10%;
        --dark_grey: 240, 5%, 35%;
        --dark_grey-foreground: 24 9.8% 10%;
        --yellow: 54, 100%, 86%;
        --yellow-foreground: 24 9.8% 10%;
        --orange: 19, 100%, 86%;
        --orange-foreground: 24 9.8% 10%;
        --blue: 204, 80%, 81%;
        --blue-foreground: 24 9.8% 10%;
        --teal: 160, 70%, 78%;
        --teal-foreground: 24 9.8% 10%;
    }

    .dark {
        --gradient: #108dc7;

        --background: 211 55.25% 3.36%;
        --foreground: 211 8.5% 97.1%;

        --muted: 211 42.5% 12.6%;
        --muted-foreground: 211 8.5% 54.2%;

        --popover: 211 48% 5.46%;
        --popover-foreground: 211 8.5% 97.1%;

        --card: 211 48% 5.46%;
        --card-foreground: 211 8.5% 97.1%;

        --border: 211 42.5% 12.6%;
        --input: 211 42.5% 12.6%;

        --primary: 211 85% 42%;
        --primary-foreground: 211 8.5% 97.1%;

        --secondary: 211 42.5% 12.6%;
        --secondary-foreground: 211 8.5% 97.1%;

        --accent: 211 42.5% 12.6%;
        --accent-foreground: 211 8.5% 97.1%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 211 8.5% 97.1%;

        --ring: 211 85% 42%;

        --rose: 350, 100%, 85%;
        --rose-foreground: 24, 5%, 5%;
        --green: 160, 25%, 85%;
        --green-foreground: 24, 5%, 5%;
        --lavender: 240, 67%, 85%;
        --lavender-foreground: 24, 5%, 5%;
        --light_grey: 210, 9%, 85%;
        --light_grey-foreground: 24, 5%, 5%;
        --grey: 0, 0%, 20%;
        --grey-foreground: 24, 5%, 5%;
        --dark_grey: 240, 5%, 25%;
        --dark_grey-foreground: 24, 5%, 5%;
        --yellow: 54, 100%, 80%;
        --yellow-foreground: 24, 5%, 5%;
        --orange: 19, 100%, 80%;
        --orange-foreground: 24, 5%, 5%;
        --blue: 204, 80%, 75%;
        --blue-foreground: 24, 5%, 5%;
        --teal: 160, 70%, 70%;
        --teal-foreground: 24, 5%, 5%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

input:checked + div svg {
    @apply block;
}

input:checked + div svg.initial {
    @apply hidden;
}

input {
    @apply border-0;
    @apply focus:ring-0;
    @apply p-1;
}

html,
body,
#root,
main {
    min-height: 100vh;
}

.modal {
    @apply justify-center;
    @apply items-center;
    @apply flex;
    @apply overflow-x-hidden;
    @apply overflow-y-auto;
    @apply fixed;
    @apply inset-0;
    @apply z-50;
    @apply outline-none;
    @apply focus:outline-none;
}

.modal-content {
    @apply border-0;
    @apply rounded-lg;
    @apply shadow-lg;
    @apply relative;
    @apply flex;
    @apply flex-col;
    @apply w-full;
    @apply bg-white;
    @apply bg-popover;
    @apply outline-none;
    @apply focus:outline-none;
    @apply dark:text-white;
}

.card {
    @apply bg-white;
    @apply dark:bg-[#344150];
    @apply border;
    @apply border-solid;
    @apply border-[#DDDDDD];
    @apply dark:border-[#344150];
    @apply rounded-lg;
    @apply p-4;
    @apply drop-shadow-[0_2px_4px_rgba(0,0,0,0.08)];
}

.backdrop {
    @apply opacity-50;
    @apply fixed;
    @apply inset-0;
    @apply z-40;
    @apply bg-black;
}
