@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 20 14.3% 4.1%;
        --muted: 60 4.8% 95.9%;
        --muted-foreground: 25 5.3% 44.7%;
        --popover: 0 0% 100%;
        --popover-foreground: 20 14.3% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 20 14.3% 4.1%;
        --border: 20 5.9% 90%;
        --input: 20 5.9% 90%;
        --primary: 24 9.8% 10%;
        --primary-foreground: 60 9.1% 97.8%;
        --secondary: 60 4.8% 95.9%;
        --secondary-foreground: 24 9.8% 10%;
        --accent: 60 4.8% 95.9%;
        --accent-foreground: 24 9.8% 10%;
        --destructive: 27, 86%, 52%;
        --destructive-foreground: 60 9.1% 97.8%;
        --ring: 24 5.4% 63.9%;
        --radius: 0.5rem;

        --rose: 350, 100%, 93%;
        --rose-foreground: 24 9.8% 10%;
        --green: 160, 25%, 90%;
        --green-foreground: 24 9.8% 10%;
        --lavender: 240, 67%, 94%;
        --lavender-foreground: 24 9.8% 10%;
        --light_grey: 210, 9%, 89%;
        --light_grey-foreground: 24 9.8% 10%;
        --grey: 0, 0%, 30%;
        --grey-foreground: 24 9.8% 10%;
        --dark_grey: 240, 5%, 35%;
        --dark_grey-foreground: 24 9.8% 10%;
        --yellow: 54, 100%, 86%;
        --yellow-foreground: 24 9.8% 10%;
        --orange: 19, 100%, 86%;
        --orange-foreground: 24 9.8% 10%;
        --blue: 204, 80%, 81%;
        --blue-foreground: 24 9.8% 10%;
        --teal: 160, 70%, 78%;
        --teal-foreground: 24 9.8% 10%;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 60 9.1% 97.8%;
        --muted: 210 20% 25%;
        --muted-foreground: 24 5.4% 63.9%;
        --popover: 212 20% 16%;
        --popover-foreground: 60 9.1% 97.8%;
        --card: 20 14.3% 4.1%;
        --card-foreground: 60 9.1% 97.8%;
        --border: 210 20% 25%;
        --input: 210 20% 25%;
        --primary: 60 9.1% 97.8%;
        --primary-foreground: 24 9.8% 10%;
        --secondary: 12 6.5% 15.1%;
        --secondary-foreground: 60 9.1% 97.8%;
        --accent: 210 20% 33%;
        --accent-foreground: 60 9.1% 97.8%;
        --destructive: 27, 78%, 61%;
        --destructive-foreground: 0 85.7% 97.3%;
        --ring: 12 6.5% 15.1%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

input:checked + div svg {
    @apply block;
}

input:checked + div svg.initial {
    @apply hidden;
}

input {
    @apply border-0;
    @apply focus:ring-0;
    @apply p-1;
}

html,
body,
#root,
main {
    min-height: 100vh;
}

.soft {
    @apply ease-linear !important;
    @apply transition-all;
    @apply duration-150;
}

.formField {
    @apply bg-[var(--light-main-background)];
    @apply dark:bg-[var(--dark-main-background)];
    @apply border;
    @apply dark:border-[var(--dark-main-border)];
    @apply border-[var(--light-main-border)];
    @apply p-2;
    @apply rounded-lg;
    @apply focus:outline-none;
    @apply min-h-[40px];
}

.formField input {
    @apply dark:bg-[var(--dark-main-background)];
    @apply dark:text-white;
}

.button {
    /* ------  DEFAULT STATE ------- */
    /* light -- general */
    @apply bg-[var(--light-button-background)];
    @apply rounded-md;
    @apply font-semibold;
    @apply stroke-[var(--light-button-stroke)];
    @apply text-gray-400;

    /* light -- hover */
    @apply hover:text-gray-800;
    @apply hover:stroke-gray-800;
    @apply hover:ease-linear;
    @apply hover:transition-all;
    @apply hover:duration-150;

    /* dark -- general */
    @apply dark:bg-[var(--dark-button-background)];
    @apply dark:stroke-[var(--dark-button-stroke)];

    /* dark -- hover */
    @apply dark:hover:stroke-gray-200;
    @apply dark:hover:text-white;

    /* ------  DISABLED STATE ------- */

    /* light -- general */
    @apply disabled:bg-[var(--light-button-background--disabled)];

    /* light -- hover */
    @apply hover:disabled:stroke-gray-500;
    @apply hover:disabled:brightness-100;
    @apply hover:disabled:text-gray-400;
    @apply disabled:stroke-gray-500;

    /* dark -- general */
    @apply dark:disabled:stroke-gray-500;
    @apply dark:disabled:bg-[var(--dark-button-background--disabled)];
    @apply dark:disabled:text-gray-500;

    /* dark -- hover */
    @apply dark:hover:disabled:stroke-gray-500;
    @apply dark:hover:disabled:text-gray-500;
}

.primary-button {
    @apply bg-[var(--light-button-background--primary)];
    @apply dark:bg-[var(--light-button-background--primary)];
    @apply hover:brightness-110;
    @apply text-white;
    @apply hover:text-white;
}

.modal {
    @apply justify-center;
    @apply items-center;
    @apply flex;
    @apply overflow-x-hidden;
    @apply overflow-y-auto;
    @apply fixed;
    @apply inset-0;
    @apply z-50;
    @apply outline-none;
    @apply focus:outline-none;
}

.modal-content {
    @apply border-0;
    @apply rounded-lg;
    @apply shadow-lg;
    @apply relative;
    @apply flex;
    @apply flex-col;
    @apply w-full;
    @apply bg-white;
    @apply dark:bg-[var(--dark-modal-background)];
    @apply outline-none;
    @apply focus:outline-none;
    @apply dark:text-white;
}

.field-caption {
    @apply text-sm;
    @apply text-[#5E5E5E];
    @apply dark:text-[#fff];
}

.field-caption-additional {
    @apply text-xs;
    @apply text-[#4d4d4d];
    @apply dark:text-[#fff];
    @apply font-semibold;
}

.card {
    @apply bg-white;
    @apply dark:bg-[#344150];
    @apply border;
    @apply border-solid;
    @apply border-[#DDDDDD];
    @apply dark:border-[#344150];
    @apply rounded-lg;
    @apply p-4;
    @apply drop-shadow-[0_2px_4px_rgba(0,0,0,0.08)];
}

.table {
    @apply bg-white;
    @apply dark:bg-[#344150];
    @apply border;
    @apply border-solid;
    @apply border-[#DDDDDD];
    @apply dark:border-[#344150];
    @apply rounded-lg;
    @apply p-4;
    @apply drop-shadow-[0_2px_4px_rgba(0,0,0,0.08)];
    @apply dark:text-[#DEDEDE];
}

.small-button {
    @apply inline-flex;
    @apply items-center;
    @apply justify-center;
    @apply w-8;
    @apply h-8;
    @apply transition-colors;
    @apply duration-150;
    @apply bg-[#ECEEF8];
    @apply rounded-md;
    @apply hover:bg-[#17A2B8];
    @apply disabled:bg-gray-100;
    @apply dark:disabled:bg-gray-500;
    @apply hover:text-white;
    @apply stroke-[#5A5A65];
    @apply hover:stroke-white;
    @apply dark:disabled:hover:stroke-[#5A5A65];
    @apply disabled:hover:stroke-[#5A5A65];
}

.backdrop {
    @apply opacity-50;
    @apply fixed;
    @apply inset-0;
    @apply z-40;
    @apply bg-black;
}
